@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url('@/assets/fonts/roboto/roboto-regular.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url('@/assets/fonts/roboto/roboto-medium.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  src: url('@/assets/fonts/roboto/roboto-bold.ttf');
}
