@use './light-theme' as light-theme;
@use './dark-theme' as dark-theme;

$themes: (
  light: (
    background: light-theme.$background,
    colors: light-theme.$colors,
    text: light-theme.$text,
  ),
  dark: (
    colors: dark-theme.$colors,
    background: dark-theme.$background,
    text: dark-theme.$text,
  ),
);
